<main class="main">
  <form class="form-signin">
    <div class="container-image">
      <img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
       alt="Angular" width="150" height="150">
    </div>
    <h1 class="h3 mb-2 fw-normal">Inicie Sesión</h1>


    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
      <label for="floatingEmail">Correo Electronico</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Iniciar Sesión
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"> Iniciar Sesion </button>
    <p class="mt-5 mb-3 text-muted">© 2023</p>
  </form>
</main>
