<div class="container">
  <div class="task-container">
    <h2>TO-DO</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="this.todo"
      [cdkDropListConnectedTo]="[doingList]"
      class="box-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        Título: {{item.titulo }}
        <br>
        Descripción : {{item.descripcion}}
        <br>
        Estado: {{ item.estado }}
      </div>
    </div>
  </div>

  <div class="task-container">
    <h2>DOING</h2>

    <div
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="this.doing"
      [cdkDropListConnectedTo]="[doneList]"
      class="box-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of doing" cdkDrag>
        Título: {{item.titulo}}
        <br>
        Descripción : {{item.descripcion}}
        <br>
        Estado: {{ item.estado }}
      </div>
    </div>
  </div>

  <div class="task-container">
    <h2>DONE</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="this.done"
      [cdkDropListConnectedTo]="[doingList]"
      class="box-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        Título: {{item.titulo}}
        <br>
        Descripción : {{item.descripcion}}
        <br>
        Estado: {{ item.estado }}
      </div>
    </div>
  </div>

</div>

